.container-md {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card {
  width: 40%;
}

.form {
  display: flex;
  justify-content: space-between;
}

.group-btn {
  display: flex;
  justify-content: space-around;
}
